<%- include('partials/header.ejs'); -%>
    <div class="background">
        <div class="main">
            <% listRuns.reverse().forEach(run=> { %>
                <div class="run-main">
                <div class="run-item-all">
                    <p class="title"><strong>
                            <%= run.title %>
                        </strong></p>
                    <p><strong>Location:</strong>
                        <%= run.location %>
                    </p>
                    <p><strong>Distance:</strong>
                        <%= run.distance %>
                    </p>
                    <p><strong>Time:</strong>
                        <%= run.time %>
                    </p>
                    <p><strong>Notes:</strong>
                        <%= run.notes %>
                    </p>
                </div>
            </div>
                <% }); %>
        </div>
    </div>
    </main>
    <script>
    </script>
    </body>
    </html>